:host {
    display: block;
    min-height: var(--car-img-height);
    position: relative;
}

car-image {
    position: absolute;
}

h3, h5 {
    font-weight: normal;
    margin: 0;
}

.item__compare {
    align-items: center;
    background-color: #FFF;
    border-radius: 2px;
    color: var(--color-text);
    display: flex;
    padding: 2px 5px;
    position: absolute;
    right: var(--space-1);
    top: var(--space-1);
    transition: opacity 200ms ease-in;
    z-index: 2;

    &.disabled {
        opacity: 0.35;
    }
}

.item__link {
    display: block;
}

.item__info {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: var(--space-1) var(--space-2);
    position: absolute;
    width: 100%;
    z-index: 1;
}
