<car-image [data]="data.image"></car-image>
<div class="item__content">
    <div class="item__info">
        <span class="item__brand">{{ data.brand }}</span>
        <h3 class="item__title">{{ this.data.model }} {{ this.data.year }}</h3>
        <car-price [final]="data.price.final"></car-price>
    </div>

    <div class="item__actions">
        <car-button-toggle
            [selected]="data.selected"
            label="Add"
            (change)="setToCompare($event)"
        ></car-button-toggle>
        <a [routerLink]="[data.id]" class="btn item__view">View</a>
    </div>
</div>
