@import "../../../assets/scss/mixins";

car-image {
    height: 40vh;

    @include md {
        height: 50vh;
    }
}

car-price {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;


    @include md {
        font-size: 1.5rem;
        margin-bottom: 1.5rem
    }
}

.detail__content {
    padding: var(--space-3);

    @include md {
        margin: 2rem auto;
        max-width: 80vw;
        padding: 0;
    }
}

.detail__main {
    @include md {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

.detail__teaser {
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    border-top: solid 2px rgba(0, 0, 0, 0.05);
    color: var(--color-sec);
    font-size: 1.25rem;
    padding: 1rem;

    @include md {
        margin: 0 0 0 3rem;
    }
}
