@import "../../../assets/scss/mixins";

:host {
    // iOS bug with this and absolute position
    // -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    @include md {
        border: solid 1px rgba(0, 0, 0, 0.2);
        margin: 2rem auto;
        max-width: 90vw;
        overflow-x: hidden;
    }
}

car-image {
    flex: 0 0 auto;
    height: 30vh;
    min-height: 30vh;
    width: 47vw;

    @include md {
        width: 30vw;
    }

    .car__half & {
        width: 50vw;

        @include md {
            width: 45vw;
        }
    }
}

.car {
    border-right: solid 1px rgba(0, 0, 0, 0.2);

    &:first-child .car__feat-break span {
        display: block;
    }
}

.car__content {
    padding: 0 var(--space-1);
}

.car__header {
    margin: 1rem 0;

    h3, h5 {
        margin: 0;

        @include md {
            display: inline-block;
            margin-right: .4rem;
            font-size: 1.2rem;
        }
    }
}

.car__feat-break {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    margin: 1rem -10px;
    padding: 10px;
    height: 44px;

    span {
        display: none;
        position: absolute;
        left: 10px;

        @include md {
            position: static;
        }
    }
}
