@import "../../../assets/scss/mixins";

:host {
    background-color: #fff;
    box-shadow: var(--md-shadow-1);
    width: 100%;

    @include md {
        border-radius: var(--radius-basic);
    }

}

.btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

car-thumb {
    margin-right: var(--space-1);

    &:last-child {
        margin-right: 0;
    }
}

.compare-bar__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--space-1);

    @include md {
        flex-direction: column;
        padding: var(--space-2);
    }
}

.compare-bar__thumbs {
    align-items: center;
    display: flex;
    height: 52px;
    overflow: scroll;
    padding-right: 7px;

    @include md {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        margin-bottom: var(--space-2);
        overflow: inherit;
        padding: 0;
    }
}

.thumb__placeholder {
    display: none;

    @include md {
        display: block;
        border: dotted 1px var(--gray);
    }
}

.thumb__placeholder,
car-thumb {
    flex-shrink: 0;

    @include md {
        height: 50px;
        margin: 0;
        width: 72px;
    }
}

.btn {
    margin-left: var(--space-1);
}

.badge {
    background-color: var(--color-sec);
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    width: 24px;
}
