header {
    align-items: center;
    background-color: var(--color-main);
    display: flex;
    height: 60px;
    justify-content: center;
}

h1 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60vw;
}

.btn {
    background-color: rgba(0, 0, 0, 0.1);
    color: #FFF;
    display: flex;
    font-size: 0.85rem;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;

    svg {
        width: 24px;
    }
}

.back {
    left: 0;

    svg {
        transform: rotate(180deg);
    }
}

.compare {
    right: 0;
}
