header {
    align-items: center;
    background-color: var(--color-main);
    display: flex;
    height: 60px;
    justify-content: center;
}

h1 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
