@import url("https://fonts.googleapis.com/css?family=Hind|Montserrat:700");

:root {
    --car-img-height: 40vh;
    --color-main: #a30015;
    --color-sec: #85b6ce;
    --color-text: #222222;
    --gray: #9B9B9B;
    --space-1: 10px;
    --space-2: 20px;
    --space-3: 30px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Hind", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
}
