@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root {
    --color-main: #00A0E7;
    --color-sec: #9B9B9B;
    --color-text: #003045;
    --space-1: 10px;
    --space-2: 20px;
    --space-3: 30px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
