.search {
    border-radius: 22px;
    border: solid 2px var(--color-main);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    height: 44px;
    margin: 10px;
    outline: 0;
    padding: 0 var(--space-2);
    width: calc(100% - 20px);

    &::placeholder {
        color: rgba(0, 160, 231, 0.35)
    }
}

.no-results {
    margin: 2rem 0;
    text-align: center;

    h4, p {
        margin: 0;
    }
}
