@import "../../../assets/scss/mixins";

:host {
    display: block;

    @include md {
        max-width: 90vw;
        margin: 0 auto;
    }
}

.list__items {
    padding: var(--space-1);

    car-item {
        margin-bottom: var(--space-1);

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include md {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        grid-gap: 2rem;
    }
}

.list__search {
    background-color: var(--color-main);
    padding: 0 var(--space-1) var(--space-1);

    input {
        background-color: transparent;
        border: 0;
        flex: 1;
        font-family: "Hind", sans-serif;
        font-size: 1rem;
        outline: 0;
        padding: 0 var(--space-1);
    }

    @include md {
        margin: var(--space-2) 0;
    }

    &::placeholder {
        color: var(--gray);
    }
}

.list__search-inner {
    align-items: center;
    background-color: #fff;
    border-radius: 22px;
    display: flex;
    height: 44px;
    padding-left: var(--space-2);
    width: 100%;
}

.list__no-results {
    margin: 2rem 0;
    text-align: center;

    h4,
    p {
        margin: 0;
    }
}
